html {
  background-color: #fa923f;
  padding: 10px;
}

body {
  background-color: yellow;
  padding: 10px;
  margin: 0;
}

.parent1 {
  background-color: #f073e1;
  margin: 10px;
  padding: 30px;
  height: 500px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* flex-flow: row wrap; */
  justify-content: center;
  align-items: center;
  align-content: center;
}

.parent2 {
  background-color: #f073e1;
  height: 250px;
  margin: 10px;
  padding: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: flex-start;
}

.div1 {
  background-color: #fff;
  margin: 5px;
  order: 1;
  align-self: flex-end;
}

.div2 {
  background-color: #fff;
  margin: 5px;
  width: 150px;
  font-size: 30px;
}

.div3 {
  background-color: #fff;
  margin: 5px;
  height: 150px;
  /* order: 2; */
}

.div4 {
  background-color: #fff;
  margin: 5px;
  width: 150px;
  height: 150px;
}

.div5 {
  background-color: #fff;
  margin: 5px;
  width: 200px;
}

.div6 {
  background-color: #fff;
  margin: 5px;
  width: 200px;
  order: -1;
  align-self: flex-start;
}