.header, .footer {
  background-color: orange;
  text-align: center;
  font-size: 28px;
  height: 35px;
}

.content {
  display: flex;
}

.one, .two, .tree  {
  width: 100%;
  text-align: center;
  height: 35px;
  font-size: 28px;
}

@media screen and (max-width: 800px) {
  .content {
    flex-wrap: wrap;
  }

  .two {
    order: -1;
  }

  .one, .tree {
    width: 50%;
  }
}